<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- ustawienia połączenie do bazy danych -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/sda_hibernate?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>

        <!-- SQL dialekt -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Logowanie zapytań SQL-->
        <property name="hibernate.show_sql">true</property>
        <!-- Formatowanie zapytań SQL-->
        <property name="hibernate.format_sql">true</property>

        <mapping class="pl.sda.hibernate.model.Czytelnik"/>
        <mapping class="pl.sda.hibernate.model.Kategoria"/>
        <mapping class="pl.sda.hibernate.model.Bibliotekarz"/>
        <mapping class="pl.sda.hibernate.model.Admin"/>
        <mapping class="pl.sda.hibernate.model.Logowanie"/>
        <mapping class="pl.sda.hibernate.model.Adres"/>
        <mapping class="pl.sda.hibernate.model.Ksiazka"/>
    </session-factory>
</hibernate-configuration>